################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Andgasm.API.Core/Andgasm.API.Core.Tests/obj
/Andgasm.API.Core/Andgasm.API.Core/obj
/Andgasm.API.Core/.vs/Andgasm.API.Core
/.vs
